body {
  background-color: white;
}
.left{
  height: 100%;
  width: 300px;
  float: left
}
.right{
  float: left;
  width: 50%;
  height: 90%;

}
.send-btn{
  float: right;
}
.send-txt{
  float: left;
}