body {
  background-color: white;
}
.left{
  height: 100%;
  width: 300px;
  float: left
}
.right{
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
  .footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }

}
.send-btn{
  float: left;
}
.text-cont{
  float: left;
  width: calc(100% - 56px);
}